# b00-classunions
exportClasses("numeric or NULL")

# b01-generics
importFrom(graphics, "plot")
importFrom(graphics, "hist")
importFrom(graphics, "image")

exportMethods("plot")
exportMethods("hist")
exportMethods("image")
exportMethods("print")
exportMethods("summary")
exportMethods("as.data.frame")

# b02-colorSchemes
export("redscale", "bluescale", "greenscale",
       "blueyellow","redgreen", "jetColors")

export("oompaColor")

# b03-matrixOps
export("matrixMean", "matrixVar", "matrixT")
export("matrixPairedT", "matrixUnequalT")
