# b00-generics

importFrom(graphics, "plot")
importFrom(graphics, "hist")
importFrom(graphics, "image")

exportMethods("analyze")
exportMethods("process")
exportMethods("plot")
exportMethods("hist")
exportMethods("image")
exportMethods("print")
exportMethods("summary")
exportMethods("as.data.frame")

# b01-utility
export("fliplr", "flipud", "ellipse")
export("f.qq", "f.qt", "f.above.thresh", "f.cord", "f.oneway.rankings")

# b02-colors
exportClass("ColorCoding")
export("ColorCoding")
exportClass("ColorCodedPair")
export("ColorCodedPair", "colorCode")
export("COLOR.BORING", "COLOR.SIGNIFICANT",
       "COLOR.EXPECTED", "COLOR.OBSERVED",
       "COLOR.PERMTEST", "COLOR.FITTED",
       "COLOR.CENTRAL.LINE", "COLOR.CONFIDENCE.CURVE",
       "COLOR.BAD.REPLICATE", "COLOR.WORST.REPLICATE",
       "COLOR.FOLD.DIFFERENCE", "COLOR.BAD.REPLICATE.RATIO",
       "COLOR.TOP.TEN", "COLOR.BOTTOM.TEN",
       "COLOR.TOP.TEN.SOLO", "COLOR.BOTTOM.TEN.SOLO")

# b03-channelType
exportClass("ChannelType")
export("ChannelType")
export("getDesign", "setDesign")

# b04-channel
exportClass("Channel")
export("Channel")

# b05-processor
exportClass("Processor")
export("PROC.SUBTRACTOR", "PROC.THRESHOLD", "PROC.GLOBAL.NORMALIZATION",
       "PROC.LOG.TRANSFORM", "PROC.MEDIAN.EXPRESSED.NORMALIZATION",
       "PROC.SUBSET.NORMALIZATION", "PROC.SUBSET.MEAN.NORMALIZATION")
       
# b06-pipeline
exportClass("Pipeline")
export("PIPELINE.STANDARD")

# b07-complete-channel
exportClass("CompleteChannel")
export("CompleteChannel")
exportMethod("channelize")
export("PROC.BACKGROUND", "PROC.SIGNAL", "PROC.CORRECTED.SIGNAL",
       "PROC.NEG.CORRECTED.SIGNAL", "PROC.SD.SIGNAL", "PROC.SIGNAL.TO.NOISE")
export("makeDefaultPipeline", "PIPELINE.MDACC.DEFAULT")
