###
### NAMESPACE
###

## Imported methods
import(colorspace)
import(rgl)

## Public functions
export(rancurves, ranpoints, uvscatter, luminance,
       plothc, p3d, bp, bpHue, bpLuminance, bpran,
       createPalette)

export(kelly.colors, green.armytage.colors)

