###
### NAMESPACE
###

## Imported methods
import(colorspace)
import(rgl)

importFrom("graphics", "barplot", "lines", "mtext", "text", "par")
importFrom("methods", "as")
importFrom("stats", "dist", "hclust", "rnorm", "runif", "princomp")
importFrom("utils", "data")

## Public functions
export(rancurves, ranpoints, uvscatter, luminance,
       plothc, plotpc, p3d, bp, bpHue, bpLuminance, bpran,
       plotDistances,
       createPalette, turnGray, isccNames)

# public data sets
export(kelly.colors, green.armytage.colors,
       alphabet.colors, palette36.colors)

