###
### NAMESPACE
###

importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "legend", "lines", "points")
importFrom("stats", "dbeta", "lm", "predict", "rbeta", "runif", "var")

import(methods)
import(ClassComparison)

importFrom(oompaBase, "grayscale", "greyscale", "summary", "image")

exportMethods("summary")
exportMethods("image")


## Public routines
exportClasses("BetaRates")
export("BetaRates", "samplePosteriorRates")
export("guessCenter")

exportClasses("BetaMixture")
export("BetaMixture", "NegBetaLogLike")
