# b00-classunions
exportClasses("numeric or NULL")

# b01-generics
import(methods)
importFrom(graphics, "plot")
importFrom(graphics, "hist")
importFrom(graphics, "image")
importFrom(stats, "predict", "screeplot")
importFrom(cluster, "pltree")

importFrom("graphics", "par", "points")
importFrom("grDevices", "rgb", "colorRampPalette")

exportMethods("plot")
exportMethods("hist")
exportMethods("image")
exportMethods("print")
exportMethods("summary")
exportMethods("as.data.frame")

# b02-colorSchemes
export("redscale", "bluescale", "greenscale",
       "blueyellow","redgreen", "jetColors",
       "cyanyellow")
export("grayscale", "greyscale")

# b02-colors
export("oompaColor")
exportClasses("ColorCoding")
export("ColorCoding")
exportClasses("ColorCodedPair")
export("ColorCodedPair", "colorCode")

# b03-matrixOps
export("matrixMean", "matrixVar", "matrixT")
export("matrixPairedT", "matrixUnequalT")
